.cardContainer {
    display: grid;
    border-radius: 10px; 
    background-color: var(--cardColour);
    margin: auto;
    margin-bottom: 2rem;
    text-align: center;
    width: 90%;
    box-shadow: 2px 7px 19px 0px rgba(0,0,0,0.51); 
    -webkit-box-shadow: 2px 7px 19px 0px rgba(0,0,0,0.51);
    -moz-box-shadow: 2px 7px 19px 0px rgba(0,0,0,0.51);
}

.cardHeader {
    background-color: var(--header);
    border-radius: 10px 10px 0 0;
}

/* score cards */
.scoreBg {
    background-color: var(--buttonHolder);
    font-size: calc(100px + 1.5vw);
    width: 45%;
    margin: auto;
    margin-top: 2rem;
    margin-bottom: 2rem;
    border-radius: 10px;
}


/* portrait tablets, portrait iPad, landscape e-readers, landscape 800x480 or 854x480 phones */
@media (min-width:641px) {
    .scoreBg {
        width: 30%;
    }
}

/* tablet, landscape iPad, lo-res laptops and desktops */
@media (min-width:961px) {
    .cardGrid{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
}

/* big landscape tablets, laptops, and desktops */
@media (min-width:1025px) {
    .cardContainer {
        width: 70%;
    }
}