input {
    background-color: var(--font);
    color: var(--header);
    margin-top: 1rem;
    margin-bottom: 2rem;
    border: none;
    font-size: calc(12px + 1.5vw);
    font-family: 'Staatliches', sans-serif;
    text-align: center;
}

.inputLabel {
    display: block;
    font-size: 2rem;
}

/* .inputContainer1 {
    float: left;
    padding: 3rem;
}

.inputContainer2 {
    float: right;
    padding: 3rem;
} */

.playerLabel {
    margin-top: 2rem;
}