input {
    background-color: var(--font);
    color: var(--header);
    margin-top: 1rem;
    margin-bottom: 2rem;
    border: none;
    font-size: calc(12px + 1.5vw);
    font-family: 'Staatliches', sans-serif;
    text-align: center;
}

.inputLabel {
    display: block;
    font-size: 2rem;
}

.playerLabel {
    margin-top: 2rem;
}

/* tablet, landscape iPad, lo-res laptops and desktops */
@media (min-width:961px) {
    .inputContainer{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
}