@import url('https://fonts.googleapis.com/css2?family=Staatliches&display=swap');

body {
    color: var(--font);
    font-family: 'Staatliches', sans-serif;
}

a {
    text-decoration: none;
    color: var(--font);
}
a:hover{
    text-decoration: underline;
}
.title {
    text-align: center;
    font-size: 5rem;
    padding: 1rem;
}
.headerBG {
    background-color: var(--header);
}

.subTitle {
    text-align: center;
    font-size: 2.5rem;
    padding: 2rem;
}

h2 {
    text-align: center;
    font-size: 3rem;
}

ul {
    font-size: 2.5rem;
    line-height: 4rem;
    padding: 1rem;
}

h3 {
    font-size: 2.5rem;
}
